@model MIxYummy.Models.MY_Profile_Shop

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
</div>

@*<form asp-action="Index">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <p>Email</p>
        <input asp-for="Shop_Email" name="Email" class="form-control" />
    </div>
    <div class="form-group">
        <p>Password</p>
        <input asp-for="Shop_Password" name="Password" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="login" class="btn btn-primary" />
    </div>
</form>*@